name: Deploy Frontend to Render

on:
  push:
    branches:
      - main
    paths:
      - 'apps/mobile/**'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render Frontend Deploy
        run: |
          curl -X POST \
            -H "Accept: application/json" \
            -H "Authorization: Bearer ${{ secrets.RENDER_FE_API_KEY }}" \
            https://api.render.com/v1/services/${{ secrets.RENDER_FE_SERVICE_ID }}/deploys
